.weather-card {
  position: relative;
  width: 340px;
  height: 340px;
  border-radius: 30px;
  padding: 30px;
  color: white;
  font-family: "Inter", sans-serif;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   overflow: hidden;
}

.weather-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;  
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.35);

  mask-image: linear-gradient(
    to right,
    black 0%,
    black 50%,
    transparent 100%
  );

  -webkit-mask-image: linear-gradient(
    to right,
    black 0%,
    black 60%,
    transparent 100%
  );

  z-index: 0;
}

.weather-card * {
  position: relative;
  z-index: 1;
}

.location {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  opacity: 0.9;
}

.location svg {
  opacity: 0.8;
}

.location-select {
  display: flex;
  align-items: center;
  gap: 8px;
}

.location-select select {
  background: transparent;
  border: none;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;
}

.location-select select option {
  color: black;
}

.dropdown {
  position: absolute;
  top: 20px;
  left: -20px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 10px;
  width: 120px;
}


.weather-card h1 {
  font-size: 70px;
  font-weight: 300;
  margin: 10px 0;
}

.weather-card img {
  width: 50px;
}
.hidden-temp {
  visibility: hidden;
}

.weather-card div:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  opacity: 0.9;
}

.weather-info{
  font-size: 12px;
  opacity: 0.85;
  display: flex;
  align-items: center;
  gap: 10px;
}
