* {
  box-sizing: border-box;
}

.app {
  padding: 24px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  background-color: #d8d9db;
  width: 100%;
}

/* Tablet */
@media (max-width: 1024px) {
  .app {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 640px) {
  .app {
    grid-template-columns: 1fr;
  }
}

