.battery-container {
  background: #0c0c0c;
  color: #fff;
  width: 350px;
  height: 200px;
  border-radius: 30px;
  padding: 20px;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: column;
}

.battery-status {
  color: #aaa;
  font-size: 18px;
}

.battery-info {
  font-size: 28px;
  font-weight: bold;
}

.battery-scale {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #777;
  margin-top: 5px;
}

.battery-bar {
  background: #2a2a2a;
  width: 100%;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.battery-fill {
  height: 100%;
  border-radius: 10px;
  transition: width 0.4s ease;
}

.battery-fill.high {
  background: #00ff66;
  box-shadow: 
    0 0 20px #00ff66,
    0 0 40px rgba(0, 255, 102, 0.6);
}

.battery-fill.low {
  background: #ff3b3b;
  box-shadow: 
    0 0 20px #ff3b3b,
    0 0 40px rgba(255, 59, 59, 0.6);
}